

<% if @query.present? %>
  <h2>Results for "<%= @query %>"</h2>
  <% if @chefs.any? %>
    <h3>Chefs</h3>
    <ul>
      <% @chefs.each do |chef| %>
        <li><%= link_to chef.name, chef %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @dishes.any? %>
    <h3>Dishes</h3>
    <ul>
      <% @dishes.each do |dish| %>
        <li><%= link_to dish.name, dish %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>
